* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #FCD520;
}

#logo {
    width: 5em;

}

.menu-list {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
}

.menu-list a {
    margin: 5px;
    list-style: none;
    text-decoration: none;
}

#wrapper1 .heading2 {
    text-align: center;
    padding-bottom: 20px;
}

#wrapper1 #artists {
    display: flex;
    justify-content: center;
    margin: 0 30%;
    padding-bottom: 20px;
}

#artists img {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    height: 250px;
    padding: 20px;
}

#showcase {
    min-height: 400px;
    background-image: url('../images/download.jfif');
    text-align: center;
    color: white;
}

#showcase h1 {
    font-size: x-large;
    padding-top: 100px;

}

#showcase p {
    padding-top: 10px;
    font-size: larger;
}

footer {
    background-color: #FCD520;
    padding: 5px;
    border-radius: black; 
}

footer p {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
